<p id="notice"><%= notice %></p>

<br> 
<div class='card w-75 mx-auto text-center'>
  <div class='card-body' >
    <h1 class='card-title'><%= @admin.name %></h1>
    <h3 class='card-title' style='text-align:left;padding-left: 5%;'>Email: <%= @admin.email %></h3><br>
    
    <style type="text/css">
        body { background: black; } 
    </style>
  </div>
</div>
<center><br>
<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Admins', admin_path %> |
<%= link_to 'Home', events_path %>
</center>