<p id="notice"><%= notice %></p>

<p>
  <strong>ID</strong>
  <%= @user.id %>
    <br>
  <strong>Name</strong>
  <%= @user.firstname %>
  <%= @user.lastname %>
    <br>
  <strong>Semester Points</strong>
  <%= @user.userpoints %>
    <br>
  <strong>Total Points</strong>
  <%= @user.usertotal %>
    <br>
  <strong>Mentors:</strong>
  <%= list_mentors %>
    <br>
  <strong>Mentees:</strong>
  <%= list_mentees %>
    <br>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
