<style type="text/css">
  body {background: black}
</style>
<p id="notice"><%= notice %></p>

<% if @admin %>
  Admin: <%= @admin.name %>
<%end%>

<div class = "container mt-5 text-center">
<%= month_calendar(attribute: :starttime, end_attribute: :endtime, events: @meetings) do |date,meetings| %>
  <div class = "day">
    <%= date.day%>
  </div>
  <%meetings.each do |meeting|%>
    <div class="card" style="background-color: #129d53 !important; margin-right: 10px; margin-bottom: 10px; border-radius: 5px !important;">
      <div class= "card-header" style="background-color: white !important; border-radius: 5px !important;; text-align: center;">
        <div class= "card-title " style="border-radius: 5px !important;">
          <%= link_to meeting.title, meeting%>
        </div>
      </div>
      <div class = "card-body">
        <p class = "card-text">
          Place: 
          <%= meeting.location %>
        </p>
      
        <p class = "card-text">
          Start: 
          <%= meeting.starttime.strftime('%b %d, %I:%M %p') %>
        </p>
        <p class = "card-text">
          End: 
          <%= meeting.endtime.strftime('%b %d, %I:%M %p') %>
        </p>
        </div>
    </div>
  <%end%>
<% end %>
</div>

