<p id="notice"><%= notice %></p>

<h1>Events</h1>
<h2>Shows all events</h2>
<% if @admin %>
  Admin: <%= @admin.name %>
<% else %>
  No admin permissions
<%end%>

<div class = "container mt-5 text-center">
<%= month_calendar(attribute: :starttime, end_attribute: :endtime, events: @meetings) do |date,meetings| %>
  <div class = "day">
    <%= date%>
  </div>
  <%meetings.each do |meeting|%>
    <div class= "card-header">
      <div class= "card-title">
        <%= link_to meeting.title, meeting%>
      </div>
    </div>
    <div class = "card-body">
      <p class = "card-text">
        Located at: 
        <%= meeting.location %>
      </p>
    </div>
    <div class = "card-footer">
      <p class = "card-text">
        Start: 
        <%= meeting.starttime.strftime('%B %d %Y, at %I:%M %p') %>
      </p>
      <p class = "card-text">
        End: 
        <%= meeting.endtime.strftime('%B %d %Y, at %I:%M %p') %>
      </p>
    </div>
  <%end%>
<% end %>
</div>

<br>
<br>
<br>

<% if @admin %>
  <%= link_to 'New Event', new_event_path %>
<% end %>
<br>
<%= link_to 'New Attendance', new_attendance_path %>

<br>
<%= link_to 'New Admin', new_registration_path %>
<br>
<%= link_to 'Login', login_path %>
<br>
<%= link_to 'Logout', loginout_path %>
<br>



<br>
<%= link_to 'New RSVP', new_rsvp_path %>

<br>
<%= link_to 'Point Tracker', users_path %> 
<br>
<%= link_to 'Links Page', links_path %> 
<br>
<%= link_to 'FAQ Page', "/faq.html" %>
