<style type="text/css">
  body {background: black}
</style>
<p id="notice"><%= notice %></p>

<% if @admin %>
  Admin: <%= @admin.name %>
<% else %>
  No admin permissions
<%end%>

<div class = "container mt-5 text-center">
<%= month_calendar(attribute: :starttime, end_attribute: :endtime, events: @meetings) do |date,meetings| %>
  <div class = "day">
    <%= date.day%>
  </div>
  <%meetings.each do |meeting|%>
    <div class="card"  >
      <div class= "card-header" >
        <div class= "card-title">
          <%= link_to meeting.title, meeting%>
        </div>
      </div>
      <div class = "card-body">
        <p class = "card-text">
          Place: 
          <%= meeting.location %>
        </p>
      
        <p class = "card-text">
          Start: 
          <%= meeting.starttime.strftime('%b %d, %I:%M %p') %>
        </p>
        <p class = "card-text">
          End: 
          <%= meeting.endtime.strftime('%b %d, %I:%M %p') %>
        </p>
        </div>
    </div>
  <%end%>
<% end %>
</div>

<br>
<br>
<br>


<br>
<%= link_to 'New Admin', new_registration_path %>
