<p id="notice"><%= notice %></p>

<p>
  <strong>Event ID:</strong>
  <%= @event.id %>
    <br>
  <strong>Title:</strong>
  <%= @event.title %>
    <br>
  <strong>Start Time:</strong>
  <%= @event.starttime.strftime('%B %d %Y, at %I:%M %p') %>
    <br>
  <strong>End Time:</strong>
  <%= @event.endtime.strftime('%B %d %Y, at %I:%M %p') %>
    <br>
  <strong>Event Points:</strong>
  <%= @event.eventpoints %>
    <br>
  <% if @admin %>
    <strong>Login Code</strong>
    <%= @event.logincode %>
    <br> 

    <strong>RSVPd: <%= display_rsvpd %></strong>
    <br>
      <% for user in @users_rsvp do %>
        <%= User.find(user).firstname + " " + User.find(user).lastname + " "%> 
      <% end %>
    <br>

    <strong>Attended:  <%= display_attended %> </strong>
    <br>
      <% for user in @users_attend do %>
        <p>
        <%= User.find(user).firstname + " " + User.find(user).lastname + " "%> 
        </p>
      <% end %>
      <br>
  <%end%>
  
<% if @admin %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' } %> | 
<% end %>
<%= link_to 'Back', events_path %>
