<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<p id="notice"><%= notice %></p>

<p>
  <strong>Event ID:</strong>
  <%= @event.id %>
    <br>
  <strong>Title:</strong>
  <%= @event.title %>
    <br>
  <strong>Start Time:</strong>
  <%= @event.starttime %>
    <br>
  <strong>End Time:</strong>
  <%= @event.endtime %>
    <br>
  <strong>Event Points:</strong>
  <%= @event.eventpoints %>
    <br>
  <% if @admin %>
    <strong>Login Code</strong>
    <%= @event.logincode %>
    <br> 

    <strong>User IDs RSVP:</strong>
      <p>Number of members rsvp: <%= display_rsvpd %> </p>
      <% for user in @users_rsvp do %>
        <p>
        <%= user%> 
        </p>
      <% end %>

    <strong> User IDs Attended:</strong>
        <p>Number of members attended: <%= display_attended %> </p>
      <% for user in @users_attend do %>
        <p>
        <%= user%> 
        </p>
      <% end %> 
  <%end%>
  

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' } %> | 
<%= link_to 'Back', events_path %>
