<%= form_with(model: rsvp) do |form| %>
  <% if rsvp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rsvp.errors.count, "error") %> prohibited this rsvp from being saved:</h2>

      <ul>
        <% rsvp.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %> 
      </ul>
    </div>
  <% end %>


  <div class="field">
    <p id="notice"><%=notice%></p>
    <%= form.label :event_id %>
    <br> 
    <%= form.select :event_id, Event.order(:id).map { |event| [event.title, event.id] }, include_blank: true, id: "id_of_the_event_id_select_box" %>
    <br> 
    <%= form.label :Name %>
    <br> 
    <%= form.select :userid, User.order(:id).map { |user| [user.firstname + " " + user.lastname, user.id] }, include_blank: true, id: "id_of_the_user_id_select_box" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
