
<%= stylesheet_link_tag "users" %>

<style type="text/css">
    body { background: black; }
</style>

<p id="notice"><%= notice %></p>

<<<<<<< HEAD
<style type="text/css">
  body { background: black; } 
</style>

<div class='card w-75 mx-auto'>
  <div class='card-body'  >
    <div class="text-center">
      <h1>RSVPS</h1>
    </div>
    <table class='table ' style="margin-left:auto;margin-right:auto;width:75%;">
      <thead>
        <tr>
          <th colspan="25">Event</th>
          <th colspan ="15">First Name</th>
          <th colspan ="10">Last Name</th>
          <th colspan="10"></th>
        </tr>
      </thead>

      <tbody>
        <% @rsvps.each do |rsvp| %>
          <tr>
            <td colspan="25"><%= Event.find(rsvp.event_id).title%></td>
            <td colspan ="15"><%= User.find(rsvp.userid).firstname %></td>
            <td colspan ="10"><%= User.find(rsvp.userid).lastname %></td>
            <td><%= link_to 'Destroy', rsvp, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-light btn-rounded" if is_admin %></td>      </tr>
        <% end %>
      </tbody>
    </table> 
  </div>
</div>
=======
<div class='card w-75 mx-auto' id=“point-card”>
  <div class='card-body'>
    <div class="mx-auto" style="width: 400px;">
      <h1 class='card-title text-center'>Point Tracker</h1>
    </div>



    <table class="table">
  <thead>
    <tr>
      <th>Event &nbsp; &nbsp; &nbsp;</th>
      <th>First Name &nbsp; &nbsp; &nbsp;</th>
      <th>Last Name &nbsp; &nbsp; &nbsp;</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rsvps.each do |rsvp| %>
      <tr>
        <td><%= Event.find(rsvp.event_id).title%></td>
        <td><%= User.find(rsvp.userid).firstname %></td>
        <td><%= User.find(rsvp.userid).lastname %></td>
        <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Show', rsvp_path(rsvp) %></td>
        <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Edit', edit_rsvp_path(rsvp) %></td>
        <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Destroy', rsvp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> 
    <% end %>
  </tbody>
</table>
<br>
  </div>
</div>

<%= link_to 'New RSVP', new_rsvp_path %>
<br>
<%= link_to 'Home', events_path %>
>>>>>>> 9a7ffa8a5be340b350fbe4d4f643a3b859a58a1a
