<%= form_with model: link do |form| %>
  <% if link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% link.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%= form.label :link %>
    <%= form.url_field :link %>
    <%= form.label :section_id %>
    <%= form.select :section_id, Section.order(:id).map {|section| [section.label, section.id]}%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>