<p id="notice"><%= notice %></p>

<p>
  <strong>Author</strong>
  <%= @link.author %>
    <br>
  <strong>Title</strong>
  <%= @link.title %>
    <br>
  <strong>Link</strong>
  <%= @link.link %>
    <br>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', link_path %>
