<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @link.title %>
    <br>
  <strong>Link:</strong>
  <%= @link.link %>
    <br>
  <strong>Associated Section:</strong>
  <%= @link.section.label %>
    <br>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
