<%= form_with(model: mentorship) do |form| %>
  <% if mentorship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mentorship.errors.count, "error") %> prohibited this mentorship from being saved:</h2>

      <ul>
        <% mentorship.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :mentor_id_id %>
    <%= form.text_field :mentor_id_id %>
  </div>

  <div class="field">
    <%= form.label :mentee_id_id %>
    <%= form.text_field :mentee_id_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
