<p id="notice"><%= notice %></p>

<h1>Admin Securities</h1>

<table>
  <thead>
    <tr>
      <th>Last login</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_securities.each do |admin_security| %>
      <tr>
        <td><%= admin_security.last_login %></td>
        <td><%= link_to 'Show', admin_security %></td>
        <td><%= link_to 'Edit', edit_admin_security_path(admin_security) %></td>
        <td><%= link_to 'Destroy', admin_security, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Security', new_admin_security_path %>
