<%= form_with model: attendance do |form| %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
        <% attendance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.select :event_id, Event.order(:id).map { |event| [event.title, event.id] }, include_blank: true, id: "id_of_the_event_id_select_box" %>
    <p> USERS STILL NEED TO BE IMPLEMENTED, will be 'select' eventually </p>
    <%= form.label :userid %>
    <%= form.number_field :userid %>
    <%= form.label :signup %>
    <%= form.check_box :signup %>
    <%= form.label :attended %>
    <%= form.check_box :attended %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>