<p id="notice"><%= notice %></p>

<div class='card w-50 mx-auto text-center table-center'>
  <div class='card-body' >
<h1>Attendances</h1>
<table>
  <thead>
    <tr>
      <th colspan="25">Event</th>
      <th colspan ="15">First Name</th>
      <th colspan ="10">Last Name</th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td colspan="25"><%= Event.find(attendance.event_id).title%></td>
        <td colspan ="15"><%= User.find(attendance.userid).firstname %></td>
        <td colspan ="10"><%= User.find(attendance.userid).lastname %></td>
        <td><%= link_to 'Show', attendance_path(attendance) %></td>
        <td><%= link_to 'Edit', edit_attendance_path(attendance) %></td>
        <td><%= link_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>      </tr>
    <% end %>
  </tbody>
</table> 
      </div>
  </div>
</div>