<p id="notice"><%= notice %></p>

<p>
  <strong>Attendance ID:</strong>
  <%= @attendance.id %>

  <strong>Event Associated With:</strong>
  <%= Event.find(event_id).title %>
    <br>
  <strong>User ID:</strong>
  <%= @attendance.userid %>
    <br>
  <strong>Signed up?:</strong>
  <%= @attendance.signup %>
    <br>
  <strong>Attended?:</strong>
  <%= @attendance.attended %>
    <br>
</p>

<%= link_to 'Edit', edit_Attendance_path(@attendance) %> |
<%= link_to 'Back', Attendances_path %>
