
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<header class='float-container bg-light'>
    <div class='float-child'>
        <%= image_tag "BGSAlogo.png", class: "bgsa_logo"%>
        <div class='col-xs float-end'>
            <%= link_to 'Login', login_path, class: "btn btn-inverse me-1" %>
            <%= link_to 'Logout', loginout_path, class: "btn btn-inverse me-1"  %> 
        </div>
    </div>
</header>


<nav class="navbar navbar-expand-lg navbar-light" style='border-radius: 0px !important; background-color:#129d53; '>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#SupportedContent" aria-controls="SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="SupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <%= link_to 'Calendar', events_path, class: "dropdown-item btn btn-inverse" %>
            </li>
            <li class="nav-item">
                <%= link_to 'RSVP', new_rsvp_path, class: "dropdown-item btn btn-inverse" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Check In', new_attendance_path, class: "dropdown-item btn btn-inverse" %>
            <li class="nav-item">
                <%= link_to 'Point Tracker', users_path, class: "dropdown-item btn btn-inverse" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Links', links_path, class: "dropdown-item btn btn-inverse" %>
            </li>           
            <li>
                <%= link_to 'FAQ', "/faq.html", class: "dropdown-item btn btn-inverse" %>
            </li>
            <% if @admin %>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle btn btn-inverse" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin Controls</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <%= link_to 'New Event', new_event_path, class: "dropdown-item btn btn-inverse" %>
                    <%= link_to 'New Admin', new_registration_path, class: "dropdown-item btn btn-inverse" %>
                    <%= link_to 'New User', new_user_path, class: "dropdown-item btn btn-inverse" %>
                    <%= link_to 'View RSVP', rsvps_path, class: "dropdown-item btn btn-inverse" %>
                    <%= link_to 'View Attendance', attendances_path, class: "dropdown-item btn btn-inverse" %>
                </div>
            </li>
            <% end %>
        </ul>
    </div>
</nav>

