<header>
    <div class='top_container'>
        <%= image_tag "BGSAlogo.png", class: "bgsa_logo"%>
        <h2>Black Graduate Student Association</h2>
        
    </div>
</header>

<div class='navbar'>
    <ul>
        <%= link_to "Calendar", events_path %>
        <%= link_to "Links", links_path %>
        <%= link_to "Point Tracker", users_path %>
        <%= link_to "Goals", users_path %>
    </ul>
</div>

